@font-face {
    font-family: 'Arabic Ramadhan';
    src: url('fonts/Arabic\ Ramadhan.ttf') format('truetype');
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


body{
    font-family: 'Arabic Ramadhan', sans-serif;
    min-height: 100vh;/* This ensures the body takes up at least the full height of the viewport */
    /* Additional styles to ensure the body fills the page */
    display: flex;

}


#left {
    /*background-color: blueviolet;*/
    background-image: url(images/neom-AQgbiXczUVg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex:1;
}

.logo{
    position: relative;
    top: 10%;
    width: 100%;
    height: 18%;
    background-color: rgba(0,0,0,0.5);

    display: flex;
}

.logo img{
    max-height: 100%;
    max-width: 25%;
}

#right {
    /*border: 5px solid green;*/
    flex: 2;
    display: flex;
}

.right_part{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.upper_part{
    flex: 1; 
}

.lower_part{
    flex:2;
}

.info_form{
    display: flex;
    gap: 50px;
}

/*{
    border: 1px solid red;
}